body {
  background-color:#333;
  font-family: "Playfair Display", serif;
}

.black {
  background-color: #fff;
  margin: 1rem;
}

.quote {
  color: #fff;
}

.unica {
  font-family: "Unica One", sans-serif;
  color: #d13e4a;
}

.illusory {
  z-index: 0;
  color: #d2d2d2;
  bottom: -.6rem;
  right: 0;
  opacity: .7;
}

.first {
  z-index: 10000;
}

@media only screen and (min-width: 38em) {
  .grid {
    margin: 2rem;
  }

}

@media only screen and (min-width: 60em) {
  .illusory {
    display: none;
  }

}

@media only screen and (min-width: 60em) {
  .quote {
    color: #000;
    font-size: 10rem;
  }

  .quote-left {
    position: absolute;
    top: 5rem;
    left: 9rem;
  }

  .quote-right {
    position: absolute;
    bottom: 10rem;
    right: 10rem;
  }

  .unica {
    position: absolute;
    font-size: 6rem;
    line-height: 1.3;
    top: 10rem;
    right: 25%;
    margin-left: 15rem;
    z-index: 0;
    opacity: .7;
  }

  p {
  position: relative;
  z-index: 1000;
  }
}
