body {
  background-color:#333;
  font-family: "Playfair Display", serif;
}

.grid {
  background-color: #fff;
  margin: 1rem;
}

.unica {
  font-family: "Unica One", sans-serif;
  color: #d13e4a;
}

.illusory {
  z-index: 0;
  color: #d2d2d2;
  bottom: -.6rem;
  right: 0;
  opacity: .7;
}

.first {
  z-index: 10000;
}

@media only screen and (min-width: 38em) {
  .grid {
    margin: 2rem;
  }

}
